/* http://meyerweb.com/eric/tools/css/reset/
   v2.0-modified | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}

/* make sure to set some focus styles for accessibility */
:focus {
    outline: 0;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
	display: block;
}

body {
	line-height: 1;
}

ol, ul {
	list-style: none;
}

blockquote, q {
	quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}

table {
	border-collapse: collapse;
	border-spacing: 0;
}

input[type=search]::-webkit-search-cancel-button,
input[type=search]::-webkit-search-decoration,
input[type=search]::-webkit-search-results-button,
input[type=search]::-webkit-search-results-decoration {
    -webkit-appearance: none;
    -moz-appearance: none;
}

input[type=search] {
    -webkit-appearance: none;
    -moz-appearance: none;
    -webkit-box-sizing: content-box;
    -moz-box-sizing: content-box;
    box-sizing: content-box;
}

textarea {
    overflow: auto;
    vertical-align: top;
    resize: vertical;
}

/**
 * Correct `inline-block` display not defined in IE 6/7/8/9 and Firefox 3.
 */

audio,
canvas,
video {
    display: inline-block;
    *display: inline;
    *zoom: 1;
    max-width: 100%;
}

/**
 * Prevent modern browsers from displaying `audio` without controls.
 * Remove excess height in iOS 5 devices.
 */

audio:not([controls]) {
    display: none;
    height: 0;
}

/**
 * Address styling not present in IE 7/8/9, Firefox 3, and Safari 4.
 * Known issue: no IE 6 support.
 */

[hidden] {
    display: none;
}

/**
 * 1. Correct text resizing oddly in IE 6/7 when body `font-size` is set using
 *    `em` units.
 * 2. Prevent iOS text size adjust after orientation change, without disabling
 *    user zoom.
 */

html {
    font-size: 100%; /* 1 */
    -webkit-text-size-adjust: 100%; /* 2 */
    -ms-text-size-adjust: 100%; /* 2 */
}

/**
 * Address `outline` inconsistency between Chrome and other browsers.
 */

a:focus {
    outline: thin dotted;
}

/**
 * Improve readability when focused and also mouse hovered in all browsers.
 */

a:active,
a:hover {
    outline: 0;
}

/**
 * 1. Remove border when inside `a` element in IE 6/7/8/9 and Firefox 3.
 * 2. Improve image quality when scaled in IE 7.
 */

img {
    border: 0; /* 1 */
    -ms-interpolation-mode: bicubic; /* 2 */
}

/**
 * Address margin not present in IE 6/7/8/9, Safari 5, and Opera 11.
 */

figure {
    margin: 0;
}

/**
 * Correct margin displayed oddly in IE 6/7.
 */

form {
    margin: 0;
}

/**
 * Define consistent border, margin, and padding.
 */

fieldset {
    border: 1px solid #c0c0c0;
    margin: 0 2px;
    padding: 0.35em 0.625em 0.75em;
}

/**
 * 1. Correct color not being inherited in IE 6/7/8/9.
 * 2. Correct text not wrapping in Firefox 3.
 * 3. Correct alignment displayed oddly in IE 6/7.
 */

legend {
    border: 0; /* 1 */
    padding: 0;
    white-space: normal; /* 2 */
    *margin-left: -7px; /* 3 */
}

/**
 * 1. Correct font size not being inherited in all browsers.
 * 2. Address margins set differently in IE 6/7, Firefox 3+, Safari 5,
 *    and Chrome.
 * 3. Improve appearance and consistency in all browsers.
 */

button,
input,
select,
textarea {
    font-size: 100%; /* 1 */
    margin: 0; /* 2 */
    vertical-align: baseline; /* 3 */
    *vertical-align: middle; /* 3 */
}

/**
 * Address Firefox 3+ setting `line-height` on `input` using `!important` in
 * the UA stylesheet.
 */

button,
input {
    line-height: normal;
}

/**
 * Address inconsistent `text-transform` inheritance for `button` and `select`.
 * All other form control elements do not inherit `text-transform` values.
 * Correct `button` style inheritance in Chrome, Safari 5+, and IE 6+.
 * Correct `select` style inheritance in Firefox 4+ and Opera.
 */

button,
select {
    text-transform: none;
}

/**
 * 1. Avoid the WebKit bug in Android 4.0.* where (2) destroys native `audio`
 *    and `video` controls.
 * 2. Correct inability to style clickable `input` types in iOS.
 * 3. Improve usability and consistency of cursor style between image-type
 *    `input` and others.
 * 4. Remove inner spacing in IE 7 without affecting normal text inputs.
 *    Known issue: inner spacing remains in IE 6.
 */

button,
html input[type="button"], /* 1 */
input[type="reset"],
input[type="submit"] {
    -webkit-appearance: button; /* 2 */
    cursor: pointer; /* 3 */
    *overflow: visible;  /* 4 */
}

/**
 * Re-set default cursor for disabled elements.
 */

button[disabled],
html input[disabled] {
    cursor: default;
}

/**
 * 1. Address box sizing set to content-box in IE 8/9.
 * 2. Remove excess padding in IE 8/9.
 * 3. Remove excess padding in IE 7.
 *    Known issue: excess padding remains in IE 6.
 */

input[type="checkbox"],
input[type="radio"] {
    box-sizing: border-box; /* 1 */
    padding: 0; /* 2 */
    *height: 13px; /* 3 */
    *width: 13px; /* 3 */
}

/**
 * 1. Address `appearance` set to `searchfield` in Safari 5 and Chrome.
 * 2. Address `box-sizing` set to `border-box` in Safari 5 and Chrome
 *    (include `-moz` to future-proof).
 */

input[type="search"] {
    -webkit-appearance: textfield; /* 1 */
    -moz-box-sizing: content-box;
    -webkit-box-sizing: content-box; /* 2 */
    box-sizing: content-box;
}

/**
 * Remove inner padding and search cancel button in Safari 5 and Chrome
 * on OS X.
 */

input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-decoration {
    -webkit-appearance: none;
}

/**
 * Remove inner padding and border in Firefox 3+.
 */

button::-moz-focus-inner,
input::-moz-focus-inner {
    border: 0;
    padding: 0;
}

/**
 * 1. Remove default vertical scrollbar in IE 6/7/8/9.
 * 2. Improve readability and alignment in all browsers.
 */

textarea {
    overflow: auto; /* 1 */
    vertical-align: top; /* 2 */
}

/**
 * Remove most spacing between table cells.
 */

table {
    border-collapse: collapse;
    border-spacing: 0;
}

html,
button,
input,
select,
textarea {
    color: #222;
}


::-moz-selection {
    background: #b3d4fc;
    text-shadow: none;
}

::selection {
    background: #b3d4fc;
    text-shadow: none;
}

img {
    vertical-align: middle;
}

fieldset {
    border: 0;
    margin: 0;
    padding: 0;
}

textarea {
    resize: vertical;
}

.chromeframe {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
}


/* sansita-swashed-regular - latin */
@font-face {
    font-family: 'Sansita Swashed';
    font-style: normal;
    font-weight: 400;
    src: local(''),
         url('../../assets/fonts/sansita-swashed-v17-latin-regular.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
         url('../../assets/fonts/sansita-swashed-v17-latin-regular.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
  }
  /* sansita-swashed-500 - latin */
  @font-face {
    font-family: 'Sansita Swashed';
    font-style: normal;
    font-weight: 500;
    src: local(''),
         url('../../assets/fonts/sansita-swashed-v17-latin-500.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
         url('../../assets/fonts/sansita-swashed-v17-latin-500.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
  }
  /* sansita-swashed-700 - latin */
  @font-face {
    font-family: 'Sansita Swashed';
    font-style: normal;
    font-weight: 700;
    src: local(''),
         url('../../assets/fonts/sansita-swashed-v17-latin-700.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
         url('../../assets/fonts/sansita-swashed-v17-latin-700.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
  }
/* roboto-regular - latin */
@font-face {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    src: local(''),
         url('../../assets/fonts/roboto-v30-latin-regular.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
         url('../../assets/fonts/roboto-v30-latin-regular.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
  }
  /* roboto-500 - latin */
  @font-face {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    src: local(''),
         url('../../assets/fonts/roboto-v30-latin-500.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
         url('../../assets/fonts/roboto-v30-latin-500.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
  }
  /* roboto-700 - latin */
  @font-face {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    src: local(''),
         url('../../assets/fonts/roboto-v30-latin-700.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
         url('../../assets/fonts/roboto-v30-latin-700.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
  }



.wrapper{
    max-width: 1140px;
    margin: 0 auto;
}
.logo-img{
    width: 232px;
    height: 72px;
}
.header{
    width: 100%;
    height: 90px;
    background: #ffaa00;
}
.header-wrapper{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: flex-end;
}
.header-list{
    display: flex;
    flex-wrap: wrap;
}
.header-link{
    font-family: 'Sansita Swashed';
    font-style: normal;
    font-weight: 700;
    font-size: 32px;
    text-decoration: none;
    color: #000;
}
.header-link:hover{
    color: white;
}
.header-list-item{
    margin-left: 30px;
    margin-bottom: 10px;
}
.nav_menu_close{
    display: none;
}
.header_burger {
    width: 36px;
    height: 20px;
    position: relative;
    display: none;
    margin-right: 5px;
}
.burger_line {
    display: block;
    width: 36px;
    height: 4px;
    background: #000;
    border-radius: 2px;
    position: absolute;
    left: 0;
}
.burger_line_first {
    top: 0px;
}
.burger_line_second {
    top: 8px;
}
.burger_line_third {
    bottom: 0px;
}
.main{
    position: relative;
   
}
.main-title{
    
    margin: 0 auto;
    border-radius: 50px;
    margin-bottom: 30px;
}
.main-title-text{
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    font-size: 48px;
    color: #000;
    text-align: center;
    padding-top: 50px;
}
.title-text{
    font-family: 'Sansita Swashed';
    font-style: normal;
    font-weight: 700;
    padding-top: 0px;
    padding-bottom: 20px;
}
.main-backg-img1{
    position: absolute;
    bottom: -10px;
    right: 0;
    z-index: -1;
}
.main-backg-img2{
    position: absolute;
    top: -90px;
    left: -70px;
    transform: rotate(5deg);
    z-index: -10;
}
.main-desc-text{
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    font-size: 24px;
    color: #000;
    padding-bottom: 20px;
    text-indent: 30px;
    line-height: 1.2em;
}
.main-desc-text:last-child{
    text-align: center;
    padding-top: 20px;
    font-weight: 700;
}
.main-description{
    max-width: 1000px;
    margin: 0 auto;
}
.main-desc-list-item{
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    font-size: 24px;
    line-height: 1.2em;
}
.main-desc-list-item:before{
    content: '✔';
    color: black;
    margin-right: 5px;
}
.main-btn-wrap{
    padding-bottom: 50px;
}
.main-btn{
    display: block;
    margin: 0 auto;
    width: 300px;
    background: #ffaa00;
    border: none;
    border-radius: 50px;
    font-family: 'Sansita Swashed';
    font-style: normal;
    font-weight: 700;
    font-size: 48px;
    color: #000;
}
.main-btn:hover{
    color: #ffffff;
}
.footer{
    width: 100%;
    height: 90px;
    background: #ffaa00;
}
.footer-wrapper{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    text-align: center;
}
.logo-rsschool{
    width: 200px;
    height: 70px;
    padding-top: 10px;
}
.block-github{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
}
.github-logo{
    width: 70px;
    height: 70px;
}
.github-nick{
    font-family: 'Sansita Swashed';
    font-style: normal;
    font-weight: 500;
    font-size: 24px;
    color: #000;
}

@media screen and (max-width:1100px){
    .main-backg-img1{
        width: 319px;
        height: 264px;
    }
}
@media screen and (max-width:825px){
    .main-backg-img1{
        display: none;
    }
}
@media screen and (max-width:695px){
    .header_burger{
        display: block;
        z-index: 10;
    }
    .header-wrapper{
        align-items: center;
    }
    .header-nav{
        width: 100%;
        height: 120px;
        background: #ffaa00;
        position: fixed;
        top: 0;
        left: 0;
        z-index: 12;
        flex-wrap: wrap;
        padding: 10px;
        transform: translateX(100%);
        transition: .2s all linear;
    }
    .header-nav-active {
        transform: translateX(0);
    }
    .header-list-item{
        width: 100%;
    }
    .nav_menu_close{
        display: block;
        position: absolute;
        top: 10px;
        right: 30px;
    }
    .main_open_menu {
        background-color: #000;
        opacity: 0.9;
        position: fixed;
        top: 0;
        left: 0;
        z-index: 10;
        height: 100vh;
        width: 100%;
    }
}
@media screen and (max-width:633px) {
    .main-backg-img2{
        display: none;
    }
}
@media screen and (max-width:571px) {
    .github-nick{
        display: none;
    }    
}
